{% extends './base.jinja' %}

{% block content %}
    <div class="row">
        <div class="col-12">Java - Loge</div>
        <div class="col-12">System - Drocourt</div>
        <div class="col-12">Python - Delpech</div>
        <div class="col-12">Com - Horen</div>
        <div class="col-12">Anglais - Randall</div>
        <div class="col-12">Math - Masson</div>
    </div>
{% endblock %}